<div class="content">
  <h4>My Heroes</h4>
</div>

<div class="field has-addons">
  <div class="control is-expanded">
    <input class="input is-fullwidth" type="text" #heroName placeholder="Hero name">
  </div>
  <div class="control">
    <button class="button is-info" (click)="add(heroName.value); heroName.value=''">
      ADD
    </button>
  </div>
</div>

<div class="table-container">
  <table class="table is-striped is-narrow is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
        <td>
          <!-- <a routerLink="/detail/{{hero.id}}"> -->
            {{hero.id}}
          <!-- </a> -->
        </td>
        <td>
          <!-- <a routerLink="/detail/{{hero.id}}"> -->
            {{hero.name}}
          <!-- </a> -->
        </td>
        <td class="is-narrow">
          <button class="icon" title="delete hero"
            routerLink="/detail/{{hero.id}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
        </td>
        <td class="is-narrow">
          <button class="icon" title="delete hero"
            (click)="delete(hero)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>