<div id="search-component">
  <div class="field">
    <p class="control has-icons-left">
      <input #searchBox id="search-box" class="input" type="text" placeholder="Hero Search"
      (input)="search(searchBox.value)" autocomplete="off">
      <span class="icon is-small is-left">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>

  <!-- <div class="dropdown-menu"> -->
    <div class="dropdown-contents">
      <!-- <li *ngFor="let hero of heroes$ | async"> -->
        <a *ngFor="let hero of heroes$ | async" class="dropdown-item" routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      <!-- </li> -->
    </div>
  <!-- </div> -->
</div>